:root {
  --color-primary: #60cfc3; /* Frosting teal */
  --color-green: #5aa889;
  --color-primary-dark: #449088; /* Frosting teal darker */
  --color-secondary: #ec6c9f; /* Hjärtrosa */
  --color-text: #5e3b2c; /* Brun text */
  --color-accent: #3db6b3; /* Ljus turkos */
  --color-bg: #ffffff; /* Vit bakgrund */
  --color-light-gray: #f4f4f4; /* Ljusgrå bakgrund */
  --color-light-pink: #fff0f5; /* Ljusrosa */
}

.huhu {
  /* CSS HEX */
  --caf-noir: #553914ff;
  --persian-green: #24aa94ff;
  --timberwolf: #dddbd4ff;
  --taupe-gray: #9e9592ff;
  --non-photo-blue: #83d2ddff;
  --tiffany-blue: #acdcd3ff;
  --antiflash-white: #f1f5f3ff;

  /* CSS HSL */
  --caf-noir: hsla(34, 62%, 21%, 1);
  --persian-green: hsla(170, 65%, 40%, 1);
  --timberwolf: hsla(47, 12%, 85%, 1);
  --taupe-gray: hsla(15, 6%, 60%, 1);
  --non-photo-blue: hsla(187, 57%, 69%, 1);
  --tiffany-blue: hsla(169, 41%, 77%, 1);
  --antiflash-white: hsla(150, 17%, 95%, 1);
}
/**/
body {
  /* background-color: var(--color-light-gray); */
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* Exempel på användning av ljusgrå */
section.gray-background {
  background-color: var(--color-light-gray);
  padding: 2em;
  border-radius: 12px;
}

/* Rubriker */
h1,
h2,
h3 {
  color: var(--color-text);
}
